@model BoVoyageProjetFinal.Models.Travel

@{
    ViewBag.Title = "Details";
}

<h2>Details </h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Destination.Continent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destination.Continent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destination.Region)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destination.Region)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destination.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destination.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destination.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destination.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TravelAgency.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TravelAgency.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartureDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartureDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvailablePlaces)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvailablePlaces)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AllInclusivePrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllInclusivePrice)
        </dd>

    </dl>
</div>
@*<div class="row">
    <div class="col-md-3">
        @{

            foreach (var fichier in Model.Files)
            {
                var fichierBase64 = Convert.ToBase64String(fichier.Content);
                var imgSrc = String.Format("data:image/png;base64,{0}", fichierBase64);
                var id = fichier.ID;
                <img class="img-thumbnail" title="@fichier.Name" src="@imgSrc" />
                <p>@fichier.Name <a href="#" class="btn btn-danger"><i class="fa fa-remove"></i></a></p>

            }

        }
    </div>
</div>
    A tester lorsque des image auront été enregistré par le backOffiec*@
<p>
    @Html.ActionLink("Retour", "Index")
</p>
