@model BoVoyageProjetFinal.Models.Travel

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<h2>Delete</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Destination.Continent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destination.Continent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destination.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destination.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destination.Region)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destination.Region)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TravelAgency.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TravelAgency.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartureDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartureDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvailablePlaces)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvailablePlaces)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AllInclusivePrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllInclusivePrice)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
