<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoVoyage | @ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
</head>

<body>
    <div class="container">
         <nav class="navbar navbar-expand-lg navbar-dark bg-warning">
             <a class="navbar-brand" href="~/">Accueil</a>
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon"></span>
             </button>
             <div class="collapse navbar-collapse" id="navbarSupportedContent">
                 <ul class="navbar-nav mr-auto">
                     <li class="nav-item">
                         <a class="nav-link" href=" @Url.Action("About","Home") ">A propos</a>
                     </li>
                     <li class="nav-item">
                         <a class="nav-link" href=" @Url.Action("Index","Travels") ">Voyages</a>
                     </li>
                     <li class="nav-item">
                         <a class="nav-link" href=" @Url.Action("Create","ContactMessages") ">Nous contacter</a>
                     </li>

                     @*
        <li class="nav-item active">
            <a class="nav-link" href="@Url.Action("Index", "Dashboard", new { area = "BackOffice" })">Back Office<span class="sr-only">(current)</span></a>
        </li>

                     *@
                 </ul>




                 <span class="navbar-text">
                     <a href="@Url.Action("Create", "Clients")" class="btn btn-warning btn-sm">Créer un compte</a>
                 </span>
                 <span> </span>
                 <span class="navbar-text">
                     <a href="@Url.Action("Login", "AuthenticationClient")" class="btn btn-warning btn-sm"><i class="fa fa-sign-in"></i> Se connecter</a>
                 </span>
             </div>
         </nav>
        @RenderBody()
        <hr />

        <footer class="bg-warning text-white">
            &copy; 2018  BoVoyage
            @*@Html.Partial("_TopFive", *@
            @*@@Html.Action("TopFive", "Shared")*@
        </footer>

    </div>
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("SectionScripts", false)
</body>
</html>