@{
    var client = Session["CLIENT"] as BoVoyageProjetFinal.Models.Client;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoVoyage | @ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 2px;">
            @*<img src="~/images/LOGO.png" height="200" width="200" align="middle" />*@
            <a class="navbar-brand" href="~/"><i class="fa fa-plane"></i>Accueil</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href=" @Url.Action("About","Home") ">A propos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=" @Url.Action("Index","Travels") ">Voyages</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=" @Url.Action("Create","ContactMessages") ">Nous contacter</a>
                    </li>

                    @*
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Index", "Dashboard", new { area = "BackOffice" })">Back Office<span class="sr-only">(current)</span></a>
            </li>
                    *@
                </ul>

                @if (client == null)
                {

                    <span class="navbar-text">
                        <a href="@Url.Action("Create", "Clients")" class="btn btn-info btn-sm">Créer un compte</a>
                    </span>
                    <span> </span>
                    <span class="navbar-text">
                        <a href="@Url.Action("Login", "AuthenticationClient")" class="btn btn-info btn-sm"><i class="fa fa-sign-in"></i> Se connecter</a>
                    </span>
                }
                else
                {
                    <span class="navbar-text">
                        Bonjour @client.FirstName @client.LastName ! <a href="@Url.Action("Index", "HomeClient")" class="btn btn-info btn-sm">Mon compte</a>
                    </span>
                }

            </div>
        </nav>
        @RenderBody()
        <hr />

        <footer class="bg-info text-white">
            &copy; 2018  BoVoyage
            @*@Html.Partial("_TopFive", *@
            @*@@Html.Action("TopFive", "Shared")*@
        </footer>

    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @*<script src="~/Scripts/holder.min.js"></script>*@

    @RenderSection("SectionScripts", false)
</body>
</html>