@model IEnumerable<IGrouping<String, BoVoyageProjetFinal.Models.Travel>>
@{
    Layout = null;
}

<table class="table table-hover">
    @foreach (var item in Model)
    {
        <tr>
            <th colspan="4">
                @item.Key
            </th>
        </tr>

        <tr class="table-secondary">
            <th>
                Date de départ
            </th>
            <th>
                Date de retour
            </th>
            <th>
                Prix tout compris
            </th>
            <th></th>
        </tr>


        foreach (var travel in item)
        {
        <tr>
            <td>
                @travel.DepartureDate
            </td>
            <td>
                @travel.ReturnDate
            </td>
            <td>
                @travel.AllInclusivePrice
            </td>
            <td>
                <a href="@Url.Action("Details", "Travels", new { id = travel.ID })" data-toggle="tooltip" data-placement="top" title="Details"><i class="fa fa-search"></i></a>
            </td>
        </tr>
        }
    }
</table>
